<footer class="uk-section uk-text-center uk-text-muted footer">
  <div class="uk-container uk-container-small">

    <div>
      <ul class="uk-subnav uk-flex-center uk-light">
        {% for link in site.data.navigation_footer %}
        {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = '' | relative_url %}
        {% endif %}
        {% if link.url == page.url %}
        {% assign current = ' class="uk-active"' %}
        {% else %}
        {% assign current = null %}
        {% endif %}
        {% if link.title %}
        <li{{ current }}><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" {% endif %}>{{ link.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="uk-margin-medium uk-light">
      <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-center uk-grid">
        {% include social-networks.html %}
      </div>
    </div>



    {%- comment %}
    	This is a foo
    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div class="uk-text-small uk-flex-inline uk-flex-middle uk-text-left">
    <div class="uk-flex uk-flex-auto">
    <img src="{{'/uploads/eu_flag.jpg' | relative_url}}" alt="EU flag" width="70px" height="32px" class="eu uk-visible@s" uk-img>
    <img src="{{'/uploads/eu_flag.jpg' | relative_url}}" width="50px" height="23px" alt="EU flag" class="eu uk-hidden@s" uk-img>
  </div>
  <div class="uk-margin-small-left uk-flex">Co-funded by the Horizon 2020 innovation and research programme of the European Union.</div>
</div>

<div class="uk-text-small copyright link-secondary uk-text-left">
{{ site.footer.copyright }}
</div>
</div>


</div>


{% endcomment -%}

  <div class="uk-container uk-container-extended uk-margin-medium-top">

<div class="uk-article-meta uk-flex uk-flex-middle">

  <img class="eu uk-visible@s" src="{{'/uploads/eu_flag.jpg' | relative_url}}" alt="EU falg" uk-img>
  <div class="uk-width-1-3 uk-text-left">
    Co-funded by the Horizon 2020 innovation and research programme of the European Union.
  </div>

  <div class="uk-width-1-3">
  </div>

  <div class="uk-width-1-3 copyright link-secondary uk-text-right ">

Unless otherwise noted, licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" rel="license" class="uk-link-text">Creative Commons Attribution 4.0 International</a> license.
  </div>
  <img class="cc uk-visible@s" src="{{'/uploads/cc.svg' | relative_url}}" alt="CC" uk-img>  <img class="by uk-visible@s" src="{{'/uploads/by.svg' | relative_url}}" alt="CC" uk-img>
</div>

</div>


</footer>
