<footer class="uk-section uk-text-center uk-text-muted footer">
  <div class="uk-container uk-container-small">

    <div>
      <ul class="uk-subnav uk-flex-center uk-light">
        {% for link in site.data.navigation_footer %}
        {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = '' | relative_url %}
        {% endif %}
        {% if link.url == page.url %}
        {% assign current = ' class="uk-active"' %}
        {% else %}
        {% assign current = null %}
        {% endif %}
        {% if link.title %}
        <li{{ current }}><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" {% endif %}>{{ link.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="uk-margin-medium uk-light">
      <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-center uk-grid">
        {% include social-networks.html %}
      </div>
    </div>
  </div> <!--  end of container-small -->


  <div class="uk-container uk-container-extended uk-margin-medium-top">

    <div class="uk-child-width-1-2@m uk-child-width-1-1@s  uk-grid-large uk-text-small" uk-grid>
      <div>
        <div class="uk-flex-middle" uk-grid>
          <div class="uk-width-1-6@m uk-width-1-1@s prm" style="">
            <img class="eu" src="{{'/uploads/eu_flag.jpg' | relative_url}}" alt="EU falg" uk-img>
          </div>
          <div class="uk-text-left@m uk-text-center@s uk-width-5-6@m uk-width-1-1@s premm">
            Co-funded by the Horizon 2020 innovation and research programme of the European Union under grant no. 731081.
          </div>

        </div>
      </div>

      <div class="uk-margin-remove">
        <div class="uk-flex-middle" uk-grid>

          <div class="uk-width-5-6@m uk-width-1-1@s uk-text-right@m uk-text-center@s copyright link-secondary" >
             {{site.footer.copyright}}
          </div>
          <div class="uk-width-1-6@m uk-width-1-1@s plm" style="">
            <img class="cc" src="{{'/uploads/cc.svg' | relative_url}}"  alt="CC"  uk-img>
            <img class="by" src="{{'/uploads/by.svg' | relative_url}}"  alt="CC" uk-img>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- end of extended -->

</footer>
