
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<p class="tags uk-text-center">

  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
    {% assign href = "/tags/"{{ this_word | cgi_escape }} %}
    <a class="uk-button uk-button-primary uk-button-small" href="{{href | relative_url}}">{{ this_word | replace:'_', ' ' }} <sup>{{ site.tags[this_word].size }}</sup></a>
  {% endunless %}{% endfor %}

</p>
