---
layout: default
title: Resources
---

<div class="uk-section">
  <div class="uk-container uk-container-extend">

    <h1 class="uk-article-title uk-text-center">{{ page.title | escape }}</h1>


    <ul uk-accordion>
      <li>
        <a class="uk-accordion-title" href="#">Filter by topic</a>
        <div class="uk-accordion-content">

          {% if site.tags != "" %}
          {% include tagcloud.html %}
          {% endif %}
        </div>
      </li>
    </ul>

    <div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-child-width-1-3@l uk-margin-medium-top" uk-grid="masonry: true" uk-scrollspy="target: .uk-card; cls: uk-animation-fade; delay: 200">



      {% for post in paginator.posts %}
      <div>
        <div class="uk-card uk-card-default uk-box-shadow-small uk-box-shadow-hover-medium card-post uk-inline border-radius-medium border-xlight">

          <div class="uk-card-header">



        <h3 class="uk-card-title uk-margin-remove-bottom"><a class="uk-link-heading" href="{{ post.url | relative_url }}">{{ post.title  }}</a></h3>
        <p class="uk-text-meta uk-margin-remove-top"><time datetime="{{ post.date | date_to_xmlschema }}">
        {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
        {{ post.date | date: date_format }}
      </time></p>


</div>


<div class="uk-card-body">
    {%- if post.abstract != "" -%}
  {{ post.abstract}}
  {%- else -%}
  {{ post.excerpt }}
  {%- endif -%}
</div>


<div class="uk-card-footer uk-background-muted dcr-footer">


  <div class="uk-grid-small uk-flex-middle" uk-grid>
    {% if post.author %}
    {% assign author = site.authors[post.author] %}
    {% else %}
    {% assign author = site.author %}
    {% endif %}

    {% if author.avatar %}
    <div class="uk-width-1-4">
    {% if author.avatar contains 'http' %}
    {% assign domain = '' %}
    {% else %}
    {% assign domain = site.uploads | absolute_url %}
    {% endif %}
    <img class="uk-border-circle avatar" src="{{ domain }}{{ author.avatar }}" alt="{{ author.name }}" width="40px">
  </div>
  {% endif %}
        <div class="uk-width-3-4 uk-text-right">
          <a href="{{ post.url | relative_url }}" class="uk-button uk-button-text">{{ site.data.translation[site.lang].read_more | default: "Read more" }} &rarr;</a>
        </div>

  </div>



</div>


</div>
</div>
{% endfor %}
</div>





{% include paginate-blog.html %}

</div>
</div>
